Repository NimbleEdge/deliteAI, changes with the owners that CODEOWNERS names for each.
All owners: @nrjpoddar, @jpuneet, @NimbleEdge/deliteai-coreruntime-maintainers, @NimbleEdge/deliteai-android-maintainers

CODEOWNERS:

*                                      @nrjpoddar @jpuneet

coreruntime/**                         @NimbleEdge/deliteai-coreruntime-maintainers
third_party/**                         @NimbleEdge/deliteai-coreruntime-maintainers
sdks/android/**                        @NimbleEdge/deliteai-android-maintainers

Correct anchor link to Prerequisites in android documentation
  sdks/android/README.md
Owners: @NimbleEdge/deliteai-android-maintainers

added command to set
  coreruntime/README.md
Owners: @NimbleEdge/deliteai-coreruntime-maintainers

changed file build/nimbleclient to build/nimble_client/nimble_client
  coreruntime/README.md
Owners: @NimbleEdge/deliteai-coreruntime-maintainers

add step to clean build directory before running tests
  coreruntime/README.md
Owners: @NimbleEdge/deliteai-coreruntime-maintainers

Added hyperlink for the ExecuTorch webpage
  README.md
Owners: @nrjpoddar, @jpuneet

added command to set
  coreruntime/README.md
Owners: @NimbleEdge/deliteai-coreruntime-maintainers

Added hyperlink to ExecuTorch
  README.md
Owners: @nrjpoddar, @jpuneet

make agents pick nimblenet locally Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  agents/examples/android/app/build.gradle.kts
  agents/examples/android/app/src/main/java/dev/deliteai/examples/App.kt
  agents/examples/android/settings.gradle.kts
  agents/gmail_assistant/android/build.gradle.kts
  agents/notifications_summarizer/android/build.gradle.kts
  sdks/android/nimblenet_core/build.gradle.kts
  sdks/android/nimblenet_ktx/build.gradle.kts
Owners: @nrjpoddar, @jpuneet, @NimbleEdge/deliteai-android-maintainers

remove version hardcoding Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  agents/examples/android/settings.gradle.kts
Owners: @nrjpoddar, @jpuneet

implement offline init for notification_summarizer Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  .gitignore
  agents/examples/android/README.md
  agents/examples/android/app/src/main/java/dev/deliteai/examples/App.kt
  agents/examples/android/app/src/main/java/dev/deliteai/examples/MainActivity.kt
  agents/examples/android/gradle.properties
  agents/notifications_summarizer/delitepyAssets/main.py
  sdks/android/gradle.properties
Owners: @nrjpoddar, @jpuneet, @NimbleEdge/deliteai-android-maintainers

change dep visibility Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  agents/gmail_assistant/android/build.gradle.kts
Owners: @nrjpoddar, @jpuneet

remove nimblenet libs version hardcoding Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  agents/gmail_assistant/android/build.gradle.kts
  agents/notifications_summarizer/android/build.gradle.kts
Owners: @nrjpoddar, @jpuneet

add router activity Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  agents/examples/android/app/src/main/AndroidManifest.xml
  agents/examples/android/app/src/main/java/dev/deliteai/examples/App.kt
  agents/examples/android/app/src/main/java/dev/deliteai/examples/GmailActivity.kt
  agents/examples/android/app/src/main/java/dev/deliteai/examples/MainActivity.kt
  agents/examples/android/app/src/main/java/dev/deliteai/examples/NotificationSummarizerActivity.kt
Owners: @nrjpoddar, @jpuneet

add EOF newline Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  agents/notifications_summarizer/delitepyAssets/main.py
Owners: @nrjpoddar, @jpuneet

Configure markdownlint and delint Markdown files
  .editorconfig
  .gitignore
  .markdownlint-cli2.yaml
  .markdownlint.yaml
  .vscode/extensions.json
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  agents/README.md
  agents/examples/android/README.md
  agents/notifications_summarizer/android/README.md
  coreruntime/README.md
  docs/deliteai.dev/index.md
  mockserver/README.md
  sdks/android/README.md
Owners: @nrjpoddar, @jpuneet, @NimbleEdge/deliteai-coreruntime-maintainers, @NimbleEdge/deliteai-android-maintainers

Redo deliteai.dev website
  .github/workflows/publish-docs.yml
  .vscode/extensions.json
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  agents/examples/android/README.md
  agents/notifications_summarizer/android/README.md
  coreruntime/delitepy/README.md
  coreruntime/delitepy/docs_template/index.md
  docs/deliteai.dev/conf.py
  docs/deliteai.dev/index.md
  docs/scripts/build_website.sh
  mockserver/README.md
Owners: @nrjpoddar, @jpuneet, @NimbleEdge/deliteai-coreruntime-maintainers

add onnx tests and lfm models
  .gitignore
  .gitmodules
  coreruntime/CMakeLists.txt
  coreruntime/build.py
  coreruntime/delitepy/library_stubs/setup.py
  coreruntime/delitepy/library_stubs/src_template/delitepy/__init__.py
  coreruntime/delitepy/library_stubs/src_template/delitepy/tokenizers/__init__.py
  coreruntime/delitepy/scripts/render_jinja2_templates.py
  coreruntime/nimblenet/CMakeLists.txt
  coreruntime/nimblenet/asset_manager/src/asset_manager.cpp
  coreruntime/nimblenet/core_sdk/src/core_sdk.cpp
  coreruntime/nimblenet/core_sdk/src/nimble_exec_info.cpp
  coreruntime/nimblenet/cross_platform/include/nimble_net_util.hpp
  coreruntime/nimblenet/data_variable/include/data_variable_enums.hpp
  coreruntime/nimblenet/data_variable/include/tokenizers_data_variable.hpp
  coreruntime/nimblenet/data_variable/src/data_variable.cpp
  coreruntime/nimblenet/data_variable/src/tokenizers_data_variable.cpp
  coreruntime/nimblenet/executors/onnx/src/task_onnx_model.cpp
  coreruntime/nimblenet/job_scheduler/include/internet_job.hpp
  coreruntime/nimblenet/resource_loader/src/resource_downloader.cpp
  coreruntime/nimblenet/resource_loader/src/resource_loader.cpp
  coreruntime/nimblenet/task_manager/task/include/statements.hpp
  coreruntime/nimblenet/task_manager/task/src/statements.cpp
  coreruntime/nimblenet/time_manager/include/time_manager.hpp
  models/LFM2/demo_lfm.py
  models/Qwen3-1.7B/demo_qwen.py
  models/tools.py
  nimblenet_py/simulation_assets/qwen_demo/MINIMAL_PYTHON_CONSTRAINTS.md
  nimblenet_py/simulation_assets/qwen_demo/qwen_modules.zip
  nimblenet_py/simulation_assets/qwen_demo/qwen_modules/main.py
  nimblenet_py/simulation_assets/qwen_demo/qwen_modules/tools.py
  nimblenet_py/simulation_assets/qwen_demo/run_demo.py
  nimblenet_py/simulation_assets/tokenizer_example.py
  nimblenet_py/simulation_tests/test_simulator_script.py
  third_party/README.md
Owners: @nrjpoddar, @jpuneet, @NimbleEdge/deliteai-coreruntime-maintainers

Upgrade Python version in GitHub workflows
  .github/actions/setup-test-env/action.yml
  .github/workflows/publish-docs.yml
Owners: @nrjpoddar, @jpuneet

Cosmetics
  sdks/android/nimblenet_ktx/build.gradle.kts
Owners: @NimbleEdge/deliteai-android-maintainers

Update README.md
  README.md
Owners: @nrjpoddar, @jpuneet

# This is a combination of 5 commits. # This is the 1st commit message:
  .gitignore
  coreruntime/nimblenet/CMakeLists.txt
  coreruntime/nimblenet/cross_platform/include/nimble_net_util.hpp
  coreruntime/nimblenet/data_variable/include/data_variable.hpp
  coreruntime/nimblenet/data_variable/include/data_variable_templates.ipp
  coreruntime/nimblenet/data_variable/include/enumerate_data_variable.hpp
  coreruntime/nimblenet/data_variable/include/iterable_data_variable.hpp
  coreruntime/nimblenet/data_variable/include/model_nimble_net_variable.hpp
  coreruntime/nimblenet/data_variable/include/single_variable.hpp
  coreruntime/nimblenet/data_variable/src/data_variable.cpp
  coreruntime/nimblenet/data_variable/src/enumerate_data_variable.cpp
  coreruntime/nimblenet/data_variable/src/model_nimble_net_variable.cpp
  coreruntime/nimblenet/data_variable/src/tensor_data_variable.cpp
  coreruntime/nimblenet/executors/onnx/include/task_onnx_model.hpp
  coreruntime/nimblenet/executors/onnx/src/task_onnx_model.cpp
  coreruntime/nimblenet/task_manager/operators/include/binary_operators.hpp
  coreruntime/nimblenet/task_manager/operators/include/custom_functions.hpp
  coreruntime/nimblenet/task_manager/operators/include/operator_types.hpp
  coreruntime/nimblenet/task_manager/operators/src/custom_functions.cpp
  coreruntime/nimblenet/util/include/util.hpp
  coreruntime/nimblenet/util/src/util.cpp
  models/LFM2/demo_lfm.py
  models/Qwen3-1.7B/demo_qwen.py
  models/Qwen3-1.7B/export.py
  nimblenet_py/simulation_assets/dict_model_test.py
  nimblenet_py/simulation_assets/qwen_demo/qwen_modules.zip
  nimblenet_py/simulation_assets/qwen_demo/qwen_modules/main.py
  nimblenet_py/simulation_assets/qwen_demo/run_demo.py
  nimblenet_py/simulation_tests/test_simulator_script.py
Owners: @nrjpoddar, @jpuneet, @NimbleEdge/deliteai-coreruntime-maintainers

correct mac build
  coreruntime/CMakeLists.txt
  coreruntime/build.py
  coreruntime/nimblenet/data_variable/src/data_variable.cpp
  models/Qwen3-1.7B/export.py
  models/tools.py
  nimblenet_py/simulation_assets/qwen_demo/qwen_modules/generation_mixin.py
  nimblenet_py/simulation_assets/qwen_demo/qwen_modules/main.py
  nimblenet_py/simulation_assets/qwen_demo/qwen_modules/tools.py
  nimblenet_py/simulation_assets/qwen_demo/run_demo.py
Owners: @NimbleEdge/deliteai-coreruntime-maintainers, @nrjpoddar, @jpuneet

Upgrade Python version in GitHub workflows (#166)
  .github/actions/setup-test-env/action.yml
  .github/workflows/publish-docs.yml
Owners: @nrjpoddar, @jpuneet

Redo deliteai.dev website (#163)
  .github/workflows/publish-docs.yml
  .vscode/extensions.json
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  agents/examples/android/README.md
  agents/notifications_summarizer/android/README.md
  coreruntime/delitepy/README.md
  coreruntime/delitepy/docs_template/index.md
  docs/deliteai.dev/conf.py
  docs/deliteai.dev/index.md
  docs/scripts/build_website.sh
  mockserver/README.md
Owners: @nrjpoddar, @jpuneet, @NimbleEdge/deliteai-coreruntime-maintainers

udpate tokenizers submodule
  .gitmodules
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/impl/common/Constants.kt
  sdks/config.yml
Owners: @nrjpoddar, @jpuneet, @NimbleEdge/deliteai-android-maintainers

Fix #169
  config.yml
  coreruntime/nimblenet/llm_executors/src/executorch_llm_executor.cpp
  sdks/config.yml
Owners: @nrjpoddar, @jpuneet, @NimbleEdge/deliteai-coreruntime-maintainers

Cosmetics
  coreruntime/nimblenet/data_variable/include/match_object_data_variable.hpp
  coreruntime/nimblenet/data_variable/include/regex_data_variable.hpp
  coreruntime/nimblenet/data_variable/src/regex_data_variable.cpp
Owners: @NimbleEdge/deliteai-coreruntime-maintainers

Fixes
  coreruntime/nimblenet/data_variable/src/data_variable.cpp
Owners: @NimbleEdge/deliteai-coreruntime-maintainers

Fix compilation
  coreruntime/nimblenet/data_variable/include/match_object_data_variable.hpp
Owners: @NimbleEdge/deliteai-coreruntime-maintainers

[DelitePy] Add fn get_hardware_info()
  coreruntime/nimblenet/data_variable/include/data_variable_enums.hpp
  coreruntime/nimblenet/data_variable/include/nimble_net_data_variable.hpp
  coreruntime/nimblenet/data_variable/src/data_variable.cpp
  coreruntime/nimblenet/data_variable/src/nimble_net_data_variable.cpp
  coreruntime/nimblenet/native_interface/include/native_interface.hpp
  coreruntime/nimblenet/native_interface/src/native_interface.cpp
Owners: @NimbleEdge/deliteai-coreruntime-maintainers

Fix Android instrumentation tests
  .github/workflows/android-integration-tests.yml
Owners: @nrjpoddar, @jpuneet

implement multi args jni bridge Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  coreruntime/nimblenet/data_variable/include/data_variable_enums.hpp
  coreruntime/nimblenet/data_variable/include/nimble_net_data_variable.hpp
  coreruntime/nimblenet/data_variable/src/nimble_net_data_variable.cpp
  coreruntime/nimblenet/native_interface/include/native_interface.hpp
  coreruntime/nimblenet/native_interface/src/native_interface.cpp
  coreruntime/platform/android/CMakeLists.txt
  coreruntime/platform/android/include/client.h
  coreruntime/platform/android/include/dependency_container_shadow.hpp
  coreruntime/platform/android/include/native_request_receiver_shadow.hpp
  coreruntime/platform/android/src/client.cpp
  coreruntime/platform/android/src/dependency_container_shadow.cpp
  coreruntime/platform/android/src/native_request_receiver_shadow.cpp
  sdks/android/nimblenet_core/src/main/cpp/jni/jni.cpp
  sdks/android/nimblenet_core/src/main/cpp/jni/utils/jni_string.h
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/client/TextToSpeech.kt
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/datamodels/NimbleNetConfig.kt
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/impl/DependencyContainer.kt
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/impl/nativeBridge/NativeRequestReceiver.kt
Owners: @NimbleEdge/deliteai-coreruntime-maintainers, @NimbleEdge/deliteai-android-maintainers

revert use of jniString Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  coreruntime/platform/android/src/client.cpp
  coreruntime/platform/android/src/native_request_receiver_shadow.cpp
  sdks/android/app/src/main/kotlin/dev/deliteai/android/sampleapp/MainActivity.kt
  sdks/android/nimblenet_core/src/main/cpp/jni/jni.cpp
Owners: @NimbleEdge/deliteai-coreruntime-maintainers, @NimbleEdge/deliteai-android-maintainers

fix function case Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  coreruntime/platform/android/CMakeLists.txt
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/impl/nativeBridge/NativeRequestReceiver.kt
Owners: @NimbleEdge/deliteai-coreruntime-maintainers, @NimbleEdge/deliteai-android-maintainers

update config.yml Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  sdks/config.yml
Owners: @nrjpoddar, @jpuneet

release 0.0.1-dev-7f10e4f-20250807 Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  sdks/android/.kotlin/sessions/kotlin-compiler-12420805014526831872.salive
  sdks/config.yml
Owners: @NimbleEdge/deliteai-android-maintainers, @nrjpoddar, @jpuneet

update readme Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  sdks/android/README.md
Owners: @NimbleEdge/deliteai-android-maintainers

remove ios ifdef Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  coreruntime/nimblenet/data_variable/src/nimble_net_data_variable.cpp
Owners: @NimbleEdge/deliteai-coreruntime-maintainers

update ios ifdef Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  coreruntime/nimblenet/data_variable/include/model_nimble_net_variable.hpp
  coreruntime/nimblenet/data_variable/src/data_variable.cpp
Owners: @NimbleEdge/deliteai-coreruntime-maintainers

release Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  sdks/config.yml
Owners: @nrjpoddar, @jpuneet
