Repository NimbleEdge/deliteAI, changes with the owners that CODEOWNERS names for each.
All owners: @nrjpoddar, @jpuneet, @NimbleEdge/deliteai-coreruntime-maintainers, @NimbleEdge/deliteai-android-maintainers

CODEOWNERS:

*                                      @nrjpoddar @jpuneet

coreruntime/**                         @NimbleEdge/deliteai-coreruntime-maintainers
third_party/**                         @NimbleEdge/deliteai-coreruntime-maintainers
sdks/android/**                        @NimbleEdge/deliteai-android-maintainers

Update agents/README.md
  agents/README.md
Owners: @nrjpoddar, @jpuneet

Update agents/README.md
  agents/README.md
Owners: @nrjpoddar, @jpuneet

Update agents/notifications_summarizer/android/README.md
  agents/notifications_summarizer/android/README.md
Owners: @nrjpoddar, @jpuneet

updated default podspec version
  sdks/ios/DeliteAI.podspec
  sdks/ios/script/release-deliteAI-ios.sh
Owners: @nrjpoddar, @jpuneet

Address review comments Signed-off-by: Arpit Gupta <arpit.gupta@nimbleedgehq.ai>
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/NimbleNet.kt
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/datamodels/NimbleNetConfig.kt
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/impl/io/FileUtils.kt
Owners: @NimbleEdge/deliteai-android-maintainers

Add deliteai.dev website
  docs/.gitignore
  docs/README.md
  docs/deliteai.dev/_static/images/delite-ai-blue-logo.png
  docs/deliteai.dev/conf.py
  docs/deliteai.dev/index.md
  docs/requirements.txt
  docs/scripts/build_website.sh
  docs/scripts/run
  docs/scripts/run.py
Owners: @nrjpoddar, @jpuneet

update example app readme Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  agents/examples/android/README.md
  sdks/android/app/src/main/AndroidManifest.xml
Owners: @nrjpoddar, @jpuneet, @NimbleEdge/deliteai-android-maintainers

Update agents/README.md
  agents/README.md
Owners: @nrjpoddar, @jpuneet

Update agents/README.md
  agents/README.md
Owners: @nrjpoddar, @jpuneet

Address review comments Signed-off-by: Arpit Gupta <arpit.gupta@nimbleedgehq.ai>
  sdks/android/README.md
Owners: @NimbleEdge/deliteai-android-maintainers

Added documentation for nm.llm module Signed-off-by: Neeraj Poddar <neeraj@nimbleedgehq.ai>
  coreruntime/delitepy/library_stubs/src_template/delitepy/nimblenet/__init__.py
  coreruntime/delitepy/library_stubs/src_template/delitepy/nimblenet/llm/__init__.py
  coreruntime/delitepy/library_stubs/src_template/delitepy/nimblenet/llm/llm.py
Owners: @NimbleEdge/deliteai-coreruntime-maintainers

Rename simulator parent package
  coreruntime/.gitignore
  coreruntime/build.py
  coreruntime/delitepy/library_stubs/src_template/delitepy/nimblenet/config/config.py
  coreruntime/setup.py
  nimblenet_py/simulation_assets/chatbot.py
  nimblenet_py/simulation_tests/conftest.py
  nimblenet_py/simulation_tests/demo_chatbot.py
  nimblenet_py/simulation_tests/test_simulator_llm.py
  nimblenet_py/simulation_tests/test_simulator_online.py
  nimblenet_py/simulation_tests/test_simulator_script.py
  nimblenet_py/simulator_binder/binder.cpp
Owners: @NimbleEdge/deliteai-coreruntime-maintainers, @nrjpoddar, @jpuneet

Add steps for downloading build-dependencies from S3
  .gitignore
  coreruntime/scripts/setup.sh
  setup.sh
  third_party/README.md
Owners: @nrjpoddar, @jpuneet, @NimbleEdge/deliteai-coreruntime-maintainers

Added DelitePy docs
  coreruntime/delitepy/library_stubs/src_template/delitepy/ne_re/match.py
  coreruntime/delitepy/library_stubs/src_template/delitepy/ne_re/regex.py
  coreruntime/delitepy/library_stubs/src_template/delitepy/nimblenet/__init__.py
  coreruntime/delitepy/library_stubs/src_template/delitepy/nimblenet/config/__init__.py
  coreruntime/delitepy/library_stubs/src_template/delitepy/nimblenet/config/config.py
  coreruntime/delitepy/library_stubs/src_template/delitepy/nimblenet/eventstore.py
  coreruntime/delitepy/library_stubs/src_template/delitepy/nimblenet/eventstore/__init__.py
  coreruntime/delitepy/library_stubs/src_template/delitepy/nimblenet/llm.py
  coreruntime/delitepy/library_stubs/src_template/delitepy/nimblenet/llm/__init__.py
  coreruntime/delitepy/library_stubs/src_template/delitepy/nimblenet/llm/llm.py
  coreruntime/delitepy/library_stubs/src_template/delitepy/nimblenet/model.py
  coreruntime/delitepy/library_stubs/src_template/delitepy/nimblenet/model/__init__.py
  coreruntime/delitepy/library_stubs/src_template/delitepy/nimblenet/tensor.py
  coreruntime/delitepy/library_stubs/src_template/delitepy/nimblenet/tensor/__init__.py
  coreruntime/delitepy/library_stubs/src_template/delitepy/nimblenet/utils.py
  coreruntime/delitepy/library_stubs/src_template/delitepy/nimblenet/utils/__init__.py
  coreruntime/nimblenet/data_variable/include/model_nimble_net_variable.hpp
Owners: @NimbleEdge/deliteai-coreruntime-maintainers

Add more content
  docs/deliteai.dev/conf.py
  docs/deliteai.dev/index.md
  docs/scripts/build_website.sh
  sdks/ios/README.md
Owners: @nrjpoddar, @jpuneet

Add doc links Signed-off-by: Neeraj Poddar <neeraj@nimbleedgehq.ai>
  README.md
Owners: @nrjpoddar, @jpuneet

Add doc links Signed-off-by: Neeraj Poddar <neeraj@nimbleedgehq.ai>
  README.md
Owners: @nrjpoddar, @jpuneet

Add doc links Signed-off-by: Neeraj Poddar <neeraj@nimbleedgehq.ai>
  README.md
Owners: @nrjpoddar, @jpuneet

Updated examples in DelitePy Signed-off-by: Neeraj Poddar <neeraj@nimbleedgehq.ai>
  coreruntime/delitepy/library_stubs/src_template/delitepy/nimblenet/__init__.py
  coreruntime/delitepy/library_stubs/src_template/delitepy/nimblenet/llm.py
Owners: @NimbleEdge/deliteai-coreruntime-maintainers

Updated formatting Signed-off-by: Neeraj Poddar <neeraj@nimbleedgehq.ai>
  coreruntime/delitepy/library_stubs/src_template/delitepy/nimblenet/eventstore.py
Owners: @NimbleEdge/deliteai-coreruntime-maintainers

Add steps for building and testing coreruntime and python sdk
  coreruntime/README.md
  mockserver/README.md
Owners: @NimbleEdge/deliteai-coreruntime-maintainers, @nrjpoddar, @jpuneet

Update coreruntime/README.md
  coreruntime/README.md
Owners: @NimbleEdge/deliteai-coreruntime-maintainers

re-write copyAssetsAndUpdatePath logic
  agents/examples/android/app/src/main/java/dev/deliteai/examples/Constants.kt
  agents/examples/android/app/src/main/java/dev/deliteai/examples/GmailAssistantActivity.kt
  agents/examples/android/app/src/main/java/dev/deliteai/examples/NotificationSummarizerActivity.kt
  sdks/android/app/src/main/kotlin/dev/deliteai/android/sampleapp/MainActivity.kt
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/NimbleNet.kt
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/impl/common/Constants.kt
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/impl/controllers/NimbleNetController.kt
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/impl/io/FileUtils.kt
Owners: @nrjpoddar, @jpuneet, @NimbleEdge/deliteai-android-maintainers

add android tests
  sdks/android/nimblenet_ktx/build.gradle.kts
  sdks/android/nimblenet_ktx/src/androidTest/assets/llm/embedding_quantized_model.onnx
  sdks/android/nimblenet_ktx/src/androidTest/assets/llm/embedding_quantized_model.onnx.data.json
  sdks/android/nimblenet_ktx/src/androidTest/assets/llm/genai_config.json
  sdks/android/nimblenet_ktx/src/androidTest/assets/llm/special_tokens_map.json
  sdks/android/nimblenet_ktx/src/androidTest/assets/llm/tokenizer.jsons.json
  sdks/android/nimblenet_ktx/src/androidTest/assets/llm/tokenizer_config.json
  sdks/android/nimblenet_ktx/src/androidTest/assets/misc/add_script.ast
  sdks/android/nimblenet_ktx/src/androidTest/assets/misc/add_two_model.onnx
  sdks/android/nimblenet_ktx/src/androidTest/assets/retriever/embedding_model.onnx
  sdks/android/nimblenet_ktx/src/androidTest/assets/retriever/embedding_store_model.onnx
  sdks/android/nimblenet_ktx/src/androidTest/assets/retriever/grocery.json
  sdks/android/nimblenet_ktx/src/androidTest/assets/retriever/retriever.ast
  sdks/android/nimblenet_ktx/src/androidTest/kotlin/dev/deliteai/impl/io/FileUtilsAndroidTest.kt
Owners: @NimbleEdge/deliteai-android-maintainers

add test to check re-copy
  sdks/android/nimblenet_ktx/src/androidTest/kotlin/dev/deliteai/impl/io/FileUtilsAndroidTest.kt
Owners: @NimbleEdge/deliteai-android-maintainers

revert agent changes
  agents/examples/android/app/src/main/java/dev/deliteai/examples/Constants.kt
  agents/examples/android/app/src/main/java/dev/deliteai/examples/MainActivity.kt
  agents/examples/android/app/src/main/java/dev/deliteai/examples/NotificationSummarizerActivity.kt
  agents/examples/android/app/src/main/java/dev/deliteai/examples/gmail_assistant/GmailActivity.kt
  sdks/android/app/src/main/kotlin/dev/deliteai/android/sampleapp/MainActivity.kt
Owners: @nrjpoddar, @jpuneet, @NimbleEdge/deliteai-android-maintainers

delete constants
  agents/examples/android/app/src/main/java/dev/deliteai/examples/Constants.kt
  agents/examples/android/app/src/main/java/dev/deliteai/examples/GmailAssistantActivity.kt
  agents/examples/android/app/src/main/java/dev/deliteai/examples/NotificationSummarizerActivity.kt
Owners: @nrjpoddar, @jpuneet

code cleanup Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  sdks/android/nimblenet_ktx/build.gradle.kts
  sdks/android/nimblenet_ktx/src/androidTest/assets/llm/embedding_quantized_model.onnx
  sdks/android/nimblenet_ktx/src/androidTest/assets/llm/embedding_quantized_model.onnx.data.json
  sdks/android/nimblenet_ktx/src/androidTest/assets/llm/genai_config.json
  sdks/android/nimblenet_ktx/src/androidTest/assets/llm/special_tokens_map.json
  sdks/android/nimblenet_ktx/src/androidTest/assets/llm/tokenizer.jsons.json
  sdks/android/nimblenet_ktx/src/androidTest/assets/llm/tokenizer_config.json
  sdks/android/nimblenet_ktx/src/androidTest/assets/misc/add_script.ast
  sdks/android/nimblenet_ktx/src/androidTest/assets/misc/add_two_model.onnx
  sdks/android/nimblenet_ktx/src/androidTest/assets/retriever/embedding_model.onnx
  sdks/android/nimblenet_ktx/src/androidTest/assets/retriever/embedding_store_model.onnx
  sdks/android/nimblenet_ktx/src/androidTest/assets/retriever/grocery.json
  sdks/android/nimblenet_ktx/src/androidTest/assets/retriever/retriever.ast
  sdks/android/nimblenet_ktx/src/androidTest/kotlin/dev/deliteai/impl/io/FileUtilsAndroidTest.kt
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/NimbleNet.kt
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/impl/common/Constants.kt
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/impl/controllers/NimbleNetController.kt
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/impl/io/FileUtils.kt
Owners: @NimbleEdge/deliteai-android-maintainers

remove dep on local.properties Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  sdks/android/app/build.gradle
  sdks/android/buildSrc/src/main/kotlin/Utils.kt
Owners: @NimbleEdge/deliteai-android-maintainers

remove localProperties load duplication Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  sdks/android/app/build.gradle
Owners: @NimbleEdge/deliteai-android-maintainers

address pr comments Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/impl/common/Constants.kt
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/impl/io/FileUtils.kt
Owners: @NimbleEdge/deliteai-android-maintainers

make copy asset tests generic Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  sdks/android/nimblenet_ktx/src/androidTest/assets/fl1/f1
  sdks/android/nimblenet_ktx/src/androidTest/assets/fl1/f2
  sdks/android/nimblenet_ktx/src/androidTest/assets/fl2/f1
  sdks/android/nimblenet_ktx/src/androidTest/assets/fl2/f2
  sdks/android/nimblenet_ktx/src/androidTest/assets/llm/embedding_quantized_model.onnx
  sdks/android/nimblenet_ktx/src/androidTest/assets/llm/embedding_quantized_model.onnx.data.json
  sdks/android/nimblenet_ktx/src/androidTest/assets/llm/genai_config.json
  sdks/android/nimblenet_ktx/src/androidTest/assets/llm/special_tokens_map.json
  sdks/android/nimblenet_ktx/src/androidTest/assets/llm/tokenizer.jsons.json
  sdks/android/nimblenet_ktx/src/androidTest/assets/llm/tokenizer_config.json
  sdks/android/nimblenet_ktx/src/androidTest/assets/misc/add_script.ast
  sdks/android/nimblenet_ktx/src/androidTest/assets/misc/add_two_model.onnx
  sdks/android/nimblenet_ktx/src/androidTest/assets/retriever/embedding_model.onnx
  sdks/android/nimblenet_ktx/src/androidTest/assets/retriever/embedding_store_model.onnx
  sdks/android/nimblenet_ktx/src/androidTest/assets/retriever/grocery.json
  sdks/android/nimblenet_ktx/src/androidTest/assets/retriever/retriever.ast
  sdks/android/nimblenet_ktx/src/androidTest/kotlin/dev/deliteai/impl/io/FileUtilsAndroidTest.kt
Owners: @NimbleEdge/deliteai-android-maintainers

Updated LLM DelitePy docs Signed-off-by: Neeraj Poddar <neeraj@nimbleedgehq.ai>
  coreruntime/delitepy/library_stubs/src_template/delitepy/nimblenet/llm.py
Owners: @NimbleEdge/deliteai-coreruntime-maintainers

Cosmetics
  sdks/android/nimblenet_ktx/src/androidTest/kotlin/dev/deliteai/impl/io/FileUtilsAndroidTest.kt
Owners: @NimbleEdge/deliteai-android-maintainers

Fetch assets before starting mock server
  .github/workflows/android-integration-tests.yml
Owners: @nrjpoddar, @jpuneet

Cosmetics
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/impl/io/FileUtils.kt
Owners: @NimbleEdge/deliteai-android-maintainers

Fix end-of-file newline chars
  .github/workflows/android-code-coverage.yml
  .github/workflows/android-integration-tests.yml
  .github/workflows/android-lint.yml
  .github/workflows/android-unit-tests.yml
Owners: @nrjpoddar, @jpuneet

Fix end-of-file newline chars
  .github/workflows/android-code-coverage.yml
  .github/workflows/android-lint.yml
  .github/workflows/android-unit-tests.yml
Owners: @nrjpoddar, @jpuneet

initiate qwen 1.7 Agent scripts
  models/Qwen3-1.7B/demo_qwen.py
  models/Qwen3-1.7B/tools.py
Owners: @nrjpoddar, @jpuneet

Added hyperlink for the ONNX webpage
  README.md
Owners: @nrjpoddar, @jpuneet
