Repository NimbleEdge/deliteAI, changes with the owners that CODEOWNERS names for each.
All owners: @nrjpoddar, @jpuneet, @NimbleEdge/deliteai-coreruntime-maintainers, @NimbleEdge/deliteai-android-maintainers

add headers Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  coreruntime/platform/android/include/native_request_receiver_shadow.hpp
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/client/TextToSpeech.kt
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/impl/nativeBridge/NativeRequestReceiver.kt
Owners: @NimbleEdge/deliteai-coreruntime-maintainers, @NimbleEdge/deliteai-android-maintainers

remove redundant fns Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  sdks/android/nimblenet_core/src/main/cpp/jni/utils/jni_string.h
Owners: @NimbleEdge/deliteai-android-maintainers

Cosmetics
  coreruntime/nimblenet/data_variable/include/model_nimble_net_variable.hpp
Owners: @NimbleEdge/deliteai-coreruntime-maintainers

Cosmetics
  coreruntime/nimblenet/native_interface/include/native_interface.hpp
Owners: @NimbleEdge/deliteai-coreruntime-maintainers

Cosmetics
  coreruntime/nimblenet/native_interface/src/native_interface.cpp
Owners: @NimbleEdge/deliteai-coreruntime-maintainers

Cosmetics
  coreruntime/platform/android/src/client.cpp
Owners: @NimbleEdge/deliteai-coreruntime-maintainers

update readme Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  sdks/android/README.md
Owners: @NimbleEdge/deliteai-android-maintainers

update readme Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  sdks/android/README.md
Owners: @NimbleEdge/deliteai-android-maintainers

Cosmetics
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/impl/nativeBridge/NativeRequestReceiver.kt
Owners: @NimbleEdge/deliteai-android-maintainers

Cosmetics
  coreruntime/platform/android/include/native_request_receiver_shadow.hpp
Owners: @NimbleEdge/deliteai-coreruntime-maintainers

Cosmetics
  coreruntime/platform/android/src/native_request_receiver_shadow.cpp
Owners: @NimbleEdge/deliteai-coreruntime-maintainers

Cosmetics
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/impl/DependencyContainer.kt
Owners: @NimbleEdge/deliteai-android-maintainers

Cosmetics
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/datamodels/NimbleNetConfig.kt
Owners: @NimbleEdge/deliteai-android-maintainers

Cosmetics
  sdks/android/app/src/main/kotlin/dev/deliteai/android/sampleapp/MainActivity.kt
Owners: @NimbleEdge/deliteai-android-maintainers

Fixes
  coreruntime/nimblenet/data_variable/include/data_variable_enums.hpp
  coreruntime/nimblenet/data_variable/include/nimble_net_data_variable.hpp
  coreruntime/nimblenet/data_variable/src/data_variable.cpp
  coreruntime/nimblenet/data_variable/src/nimble_net_data_variable.cpp
  coreruntime/nimblenet/native_interface/include/native_interface.hpp
  coreruntime/nimblenet/native_interface/src/native_interface.cpp
Owners: @NimbleEdge/deliteai-coreruntime-maintainers

Update sdks/android/README.md
  sdks/android/README.md
Owners: @NimbleEdge/deliteai-android-maintainers

Update sdks/android/README.md
  sdks/android/README.md
Owners: @NimbleEdge/deliteai-android-maintainers

Update sdks/android/README.md
  sdks/android/README.md
Owners: @NimbleEdge/deliteai-android-maintainers

Update sdks/android/README.md
  sdks/android/README.md
Owners: @NimbleEdge/deliteai-android-maintainers

Update sdks/android/README.md
  sdks/android/README.md
Owners: @NimbleEdge/deliteai-android-maintainers

Update sdks/android/README.md
  sdks/android/README.md
Owners: @NimbleEdge/deliteai-android-maintainers

Update sdks/android/README.md
  sdks/android/README.md
Owners: @NimbleEdge/deliteai-android-maintainers

update readme Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  sdks/android/README.md
Owners: @NimbleEdge/deliteai-android-maintainers

update readme Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  sdks/android/README.md
Owners: @NimbleEdge/deliteai-android-maintainers

Update sdks/android/README.md
  sdks/android/README.md
Owners: @NimbleEdge/deliteai-android-maintainers

format kotlin Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/datamodels/NimbleNetConfig.kt
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/impl/DependencyContainer.kt
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/impl/nativeBridge/NativeRequestReceiver.kt
Owners: @NimbleEdge/deliteai-android-maintainers

Update agents/examples/android/README.md
  agents/examples/android/README.md
Owners: @nrjpoddar, @jpuneet

Update agents/examples/android/README.md
  agents/examples/android/README.md
Owners: @nrjpoddar, @jpuneet

Add nimble_net/config.h
  coreruntime/nimblenet/data_variable/include/data_variable_enums.hpp
  coreruntime/nimblenet/data_variable/include/nimble_net_data_variable.hpp
  coreruntime/nimblenet/data_variable/src/data_variable.cpp
  coreruntime/nimblenet/data_variable/src/nimble_net_data_variable.cpp
  coreruntime/nimblenet/native_interface/include/native_interface.hpp
  coreruntime/nimblenet/native_interface/src/native_interface.cpp
  coreruntime/nimblenet/nimble_net/include/nimble_net/config.h
Owners: @NimbleEdge/deliteai-coreruntime-maintainers

Enable XNNPACK selectively for Android and iOS
  coreruntime/nimblenet/executors/onnx/src/task_onnx_model.cpp
Owners: @NimbleEdge/deliteai-coreruntime-maintainers

[IOS][SDK] Fix a int32_t vs int64_t bug
  sdks/ios/deliteAI/Classes/sources/impl/controller/converter/InputConverter.m
Owners: @nrjpoddar, @jpuneet

Refactor out c_tensor.{h,cpp}
  coreruntime/nimblenet/command_center/include/command_center.hpp
  coreruntime/nimblenet/core_sdk/include/core_sdk.hpp
  coreruntime/nimblenet/cross_platform/include/executor_structs.h
  coreruntime/nimblenet/data_variable/include/data_variable.hpp
  coreruntime/nimblenet/nimble_net/CMakeLists.txt
  coreruntime/nimblenet/nimble_net/include/nimble_net/c_tensor.h
  coreruntime/nimblenet/nimble_net/include/nimblenet.h
  coreruntime/nimblenet/nimble_net/src/c_tensor.cpp
  coreruntime/nimblenet/simulation_manager/input_data_extractor/include/task_input_structs.hpp
  coreruntime/platform/android/include/client.h
  coreruntime/platform/ios/include/frontend_layer.h
  coreruntime/platform/ios/include/ios_helper.hpp
  coreruntime/platform/unix/include/client.h
  coreruntime/tests/unittests/tests_util.hpp
  nimblenet_py/simulator_binder/binder.cpp
  nimblenet_py/simulator_binder/binder_v2.cpp
  sdks/ios/deliteAI/Classes/sources/impl/controller/NimbleNetController.h
  sdks/ios/deliteAI/Classes/sources/impl/controller/converter/InputConverter.h
  sdks/ios/deliteAI/Classes/sources/impl/controller/converter/InputConverter.m
  sdks/ios/deliteAI/Classes/sources/impl/controller/converter/OutputConverter.h
  sdks/ios/deliteAI/Classes/sources/impl/controller/interactor/FunctionPointersImpl.h
  sdks/ios/script/build-deliteAI-static.sh
Owners: @NimbleEdge/deliteai-coreruntime-maintainers, @nrjpoddar, @jpuneet

Refactor out c_tensor_* functions
  coreruntime/nimblenet/data_variable/src/data_variable.cpp
  coreruntime/nimblenet/nimble_net/include/nimble_net/c_tensor.h
  coreruntime/nimblenet/nimble_net/src/c_tensor.cpp
  nimblenet_py/simulator_binder/binder.cpp
  nimblenet_py/simulator_binder/binder_v2.cpp
  sdks/ios/deliteAI/Classes/sources/impl/controller/NimbleNetController.m
  sdks/ios/deliteAI/Classes/sources/impl/controller/converter/InputConverter.m
Owners: @NimbleEdge/deliteai-coreruntime-maintainers, @nrjpoddar, @jpuneet

Fix symbol visibility
  coreruntime/nimblenet/executors/onnx/src/task_onnx_model.cpp
  coreruntime/nimblenet/nimble_net/include/nimble_net/c_tensor.h
  coreruntime/nimblenet/nimble_net/include/nimble_net/config.h
Owners: @NimbleEdge/deliteai-coreruntime-maintainers

Convert line endings to LF
  coreruntime/nimblenet/config_manager/include/config_manager.hpp
  coreruntime/nimblenet/config_manager/src/config_manager.cpp
  coreruntime/nimblenet/core_sdk/include/core_sdk.hpp
  coreruntime/nimblenet/nimble_net/include/nimblenet.h
  coreruntime/nimblenet/nimble_net/src/nimblenet.cpp
  coreruntime/nimblenet/resource_manager/include/resource_manager.hpp
  coreruntime/nimblenet/resource_manager/src/resource_manager.cpp
  coreruntime/nimblenet/server_api/include/server_api.hpp
  coreruntime/nimblenet/server_api/include/server_api_structs.hpp
  coreruntime/nimblenet/server_api/src/server_api.cpp
  coreruntime/nimblenet/util/include/logger.hpp
Owners: @NimbleEdge/deliteai-coreruntime-maintainers

Updated README
  README.md
Owners: @nrjpoddar, @jpuneet

Refactor out c_tensor_create_function_data(...)
  coreruntime/nimblenet/nimble_net/include/nimble_net/c_tensor.h
  coreruntime/nimblenet/nimble_net/src/c_tensor.cpp
  coreruntime/nimblenet/simulation_manager/input_data_extractor/include/task_input_structs.hpp
  coreruntime/nimblenet/simulation_manager/input_data_extractor/src/c_tensors_data_extractor.cpp
  coreruntime/platform/android/include/client.h
  coreruntime/platform/android/src/client.cpp
  coreruntime/platform/ios/include/frontend_layer.h
  coreruntime/platform/ios/src/frontend_layer.cpp
  coreruntime/platform/unix/include/client.h
  coreruntime/platform/unix/src/client.cpp
  coreruntime/platform/unix/src/frontend_layer.cpp
  nimblenet_py/simulator_binder/binder.cpp
  nimblenet_py/simulator_binder/binder_v2.cpp
Owners: @NimbleEdge/deliteai-coreruntime-maintainers, @nrjpoddar, @jpuneet

[IOS][SDK] Reformat code
  sdks/ios/deliteAI/Classes/sources/NimbleNetApi.swift
  sdks/ios/deliteAI/Classes/sources/impl/controller/NimbleNetController.h
  sdks/ios/deliteAI/Classes/sources/impl/controller/NimbleNetController.m
  sdks/ios/deliteAI/Classes/sources/impl/controller/converter/InputConverter.h
  sdks/ios/deliteAI/Classes/sources/impl/controller/converter/InputConverter.m
  sdks/ios/deliteAI/Classes/sources/impl/controller/converter/OutputConverter.h
  sdks/ios/deliteAI/Classes/sources/impl/controller/converter/OutputConverter.m
Owners: @nrjpoddar, @jpuneet

[IOS][SDK] Refactor code, fix warnings
  sdks/ios/deliteAI/Classes/sources/NimbleNetApi.swift
  sdks/ios/deliteAI/Classes/sources/impl/controller/NimbleNetController.m
Owners: @nrjpoddar, @jpuneet

CODEOWNERS:

*                                      @nrjpoddar @jpuneet

coreruntime/**                         @NimbleEdge/deliteai-coreruntime-maintainers
third_party/**                         @NimbleEdge/deliteai-coreruntime-maintainers
sdks/android/**                        @NimbleEdge/deliteai-android-maintainers
