Repository NimbleEdge/deliteAI, changes with the owners that CODEOWNERS names for each.
All owners: @nrjpoddar, @jpuneet, @NimbleEdge/deliteai-coreruntime-maintainers, @NimbleEdge/deliteai-android-maintainers

CODEOWNERS:

*                                      @nrjpoddar @jpuneet

coreruntime/**                         @NimbleEdge/deliteai-coreruntime-maintainers
third_party/**                         @NimbleEdge/deliteai-coreruntime-maintainers
sdks/android/**                        @NimbleEdge/deliteai-android-maintainers

Add author email
  coreruntime/delitepy/library_stubs/pyproject.toml
  coreruntime/setup.py
Owners: @NimbleEdge/deliteai-coreruntime-maintainers

add ci Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  .github/workflows/android/code-coverage.yml
  .github/workflows/android/integration-tests.yml
  .github/workflows/android/lint.yml
  .github/workflows/android/unit-tests.yml
  sdks/android/app/src/androidTest/kotlin/dev/deliteai/android/sampleapp/proto/ProtoAddEventTest.kt
  sdks/android/app/src/androidTest/kotlin/dev/deliteai/android/sampleapp/proto/ProtoTest.kt
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/impl/controllers/NimbleNetController.kt
Owners: @nrjpoddar, @jpuneet, @NimbleEdge/deliteai-android-maintainers

remove azure login Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  .github/workflows/android/integration-tests.yml
Owners: @nrjpoddar, @jpuneet

fix local releases Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  sdks/android/app/build.gradle
  sdks/android/buildSrc/src/main/kotlin/Publishing.kt
  sdks/android/gradle.properties
  sdks/android/nimblenet_ktx/build.gradle.kts
  sdks/android/nimblenet_ktx/src/internal/kotlin/dev/deliteai/NimbleNetInternal.kt
  sdks/config.yml
Owners: @NimbleEdge/deliteai-android-maintainers, @nrjpoddar, @jpuneet

change env names Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  sdks/android/buildSrc/src/main/kotlin/Publishing.kt
Owners: @NimbleEdge/deliteai-android-maintainers

move workflows back to the root Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  .github/workflows/android-code-coverage.yml
  .github/workflows/android-integration-tests.yml
  .github/workflows/android-lint.yml
  .github/workflows/android-unit-tests.yml
Owners: @nrjpoddar, @jpuneet

updated script name in release-deliteAI-ios.sh
  sdks/ios/script/release-deliteAI-ios.sh
Owners: @nrjpoddar, @jpuneet

updated release-deliteAI-ios.sh
  sdks/ios/script/release-deliteAI-ios.sh
Owners: @nrjpoddar, @jpuneet

updated readme for iOS release
  sdks/ios/Readme.md
Owners: @nrjpoddar, @jpuneet

updated support email in podspec
  sdks/ios/DeliteAI.podspec
Owners: @nrjpoddar, @jpuneet

Updated README with Getting started and link to AI Assistant Repo Signed-off-by: Neeraj Poddar <neeraj@nimbleedgehq.ai>
  README.md
Owners: @nrjpoddar, @jpuneet

Updated styling Signed-off-by: Neeraj Poddar <neeraj@nimbleedgehq.ai>
  README.md
Owners: @nrjpoddar, @jpuneet

Updated Getting started Signed-off-by: Neeraj Poddar <neeraj@nimbleedgehq.ai>
  README.md
Owners: @nrjpoddar, @jpuneet

Add nimblenet_py tests
  .gitignore
  coreruntime/.gitignore
  mockserver/README.md
  mockserver/docker-compose.yaml
  nimblenet_py/simulation_assets/chatbot.py
  nimblenet_py/simulation_assets/class_support.py
  nimblenet_py/simulation_assets/embedding_store_model.onnx
  nimblenet_py/simulation_assets/grocery.json
  nimblenet_py/simulation_assets/invalid_model_workflow_script.py
  nimblenet_py/simulation_assets/list_compatible_llms.py
  nimblenet_py/simulation_assets/list_ops_test.py
  nimblenet_py/simulation_assets/mobile_benchmarks.json
  nimblenet_py/simulation_assets/nested_json_script.py
  nimblenet_py/simulation_assets/parallel.py
  nimblenet_py/simulation_assets/parallel_limited_threads.py
  nimblenet_py/simulation_assets/regex.py
  nimblenet_py/simulation_assets/retriever.ast
  nimblenet_py/simulation_assets/retriever.py
  nimblenet_py/simulation_assets/retriever_workflow.py
  nimblenet_py/simulation_assets/simple_fp32_to_fp16_add.onnx
  nimblenet_py/simulation_assets/streaming_json.py
  nimblenet_py/simulation_assets/string_slicing_test.py
  nimblenet_py/simulation_assets/try_catch.py
  nimblenet_py/simulation_assets/tts_tokenizer.py
  nimblenet_py/simulation_assets/valid_script_modules.zip
  nimblenet_py/simulation_assets/vocab.json
  nimblenet_py/simulation_assets/workflow_script.py
  nimblenet_py/simulation_tests/conftest.py
  nimblenet_py/simulation_tests/demo_chatbot.py
  nimblenet_py/simulation_tests/test_simulator_llm.py
  nimblenet_py/simulation_tests/test_simulator_online.py
  nimblenet_py/simulation_tests/test_simulator_script.py
Owners: @nrjpoddar, @jpuneet, @NimbleEdge/deliteai-coreruntime-maintainers

add readme Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  sdks/android/README.md
  sdks/android/nimblenet_ktx/build.gradle.kts
Owners: @NimbleEdge/deliteai-android-maintainers

updated ios/README.md
  sdks/ios/Readme.md
Owners: @nrjpoddar, @jpuneet

udpated iOSREADME.md
  sdks/ios/Readme.md
Owners: @nrjpoddar, @jpuneet

renamed Readme.md to README.md
  sdks/ios/README.md
Owners: @nrjpoddar, @jpuneet

updated readme linking
  sdks/ios/README.md
Owners: @nrjpoddar, @jpuneet

updated reamed and release-deliteAI-ios.sh
  sdks/ios/README.md
  sdks/ios/docs/INTEGRATION.md
  sdks/ios/script/release-deliteAI-ios.sh
Owners: @nrjpoddar, @jpuneet

address pr comments Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  sdks/android/README.md
Owners: @NimbleEdge/deliteai-android-maintainers

Update sdks/android/README.md
  sdks/android/README.md
Owners: @NimbleEdge/deliteai-android-maintainers

address comments Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  sdks/android/README.md
Owners: @NimbleEdge/deliteai-android-maintainers

updated README.md and renamed INTEGRATION.md -> DEVELOPMENT.md
  sdks/ios/README.md
  sdks/ios/docs/DEVELOPMENT.md
  sdks/ios/docs/INTEGRATION.md
  sdks/ios/script/release-deliteAI-ios.sh
Owners: @nrjpoddar, @jpuneet

updated README.md and DEVELOPMENT.md content
  sdks/ios/README.md
  sdks/ios/docs/DEVELOPMENT.md
Owners: @nrjpoddar, @jpuneet

Update sdks/ios/README.md
  sdks/ios/README.md
Owners: @nrjpoddar, @jpuneet

updated readme linking
  sdks/ios/README.md
Owners: @nrjpoddar, @jpuneet

Expose load_modules API from nimblenet
  coreruntime/nimblenet/config_manager/include/config_manager.hpp
  coreruntime/nimblenet/config_manager/src/config_manager.cpp
  coreruntime/nimblenet/core_sdk/include/core_sdk.hpp
  coreruntime/nimblenet/core_sdk/include/nimblenet_py_interface.hpp
  coreruntime/nimblenet/core_sdk/src/core_sdk.cpp
  coreruntime/nimblenet/native_interface/include/native_interface.hpp
  coreruntime/nimblenet/native_interface/src/native_interface.cpp
  coreruntime/nimblenet/nimble_net/include/nimblenet.h
  coreruntime/nimblenet/nimble_net/include/nimblenet.hpp
  coreruntime/nimblenet/nimble_net/src/nimblenet.cpp
  coreruntime/nimblenet/simulation_manager/CMakeLists.txt
  coreruntime/scripts/gen_python_ast.py
  coreruntime/tests/unittests/end_to_end_tests.cpp
  nimblenet_py/simulation_tests/demo_chatbot.py
  nimblenet_py/simulation_tests/test_simulator_llm.py
  nimblenet_py/simulation_tests/test_simulator_script.py
  nimblenet_py/simulator_binder/binder.cpp
  nimblenet_py/simulator_binder/binder_v2.cpp
  nimblenet_py/simulator_binder/delitepy_script_parser.cpp
  nimblenet_py/simulator_utils/include/simulator_utils.hpp
  nimblenet_py/simulator_utils/src/simulator_utils.cpp
Owners: @NimbleEdge/deliteai-coreruntime-maintainers, @nrjpoddar, @jpuneet

removed boiler plate content from DEVELOPMENT.md
  sdks/ios/README.md
  sdks/ios/docs/DEVELOPMENT.md
Owners: @nrjpoddar, @jpuneet

Add spdx header
  nimblenet_py/simulator_binder/delitepy_script_parser.cpp
Owners: @nrjpoddar, @jpuneet

Update sdks/ios/script/release-deliteAI-ios.sh
  sdks/ios/script/release-deliteAI-ios.sh
Owners: @nrjpoddar, @jpuneet

Update sdks/ios/script/release-deliteAI-ios.sh
  sdks/ios/script/release-deliteAI-ios.sh
Owners: @nrjpoddar, @jpuneet

Add offline sdk support in android
  sdks/android/README.md
  sdks/android/app/src/androidTest/kotlin/dev/deliteai/android/sampleapp/e2e/E2ENetworkingAndroidTest.kt
  sdks/android/app/src/androidTest/kotlin/dev/deliteai/android/sampleapp/proto/ProtoAddEventTest.kt
  sdks/android/app/src/androidTest/kotlin/dev/deliteai/android/sampleapp/proto/ProtoUtils.kt
  sdks/android/app/src/main/assets/e2e_test_assets/add_script.ast
  sdks/android/app/src/main/assets/e2e_test_assets/add_two_model.onnx
  sdks/android/app/src/main/assets/retriever/embedding_store_model.onnx
  sdks/android/app/src/main/assets/retriever/grocery.json
  sdks/android/app/src/main/assets/retriever/retriever.ast
  sdks/android/app/src/main/kotlin/dev/deliteai/android/sampleapp/MainActivity.kt
  sdks/android/app/src/main/kotlin/dev/deliteai/android/sampleapp/StressTestForMemDump.kt
  sdks/android/nimblenet_core/src/main/cpp/jni/jni.cpp
  sdks/android/nimblenet_ktx/src/androidTest/kotlin/dev/deliteai/testUtils/Constants.kt
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/NimbleNet.kt
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/datamodels/NimbleNetConfig.kt
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/impl/common/Constants.kt
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/impl/controllers/NimbleNetController.kt
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/impl/io/FileUtils.kt
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/impl/nativeBridge/CoreRuntime.kt
  sdks/android/nimblenet_ktx/src/main/kotlin/dev/deliteai/impl/nativeBridge/impl/CoreRuntimeImpl.kt
  sdks/android/nimblenet_ktx/src/test/kotlin/dev/deliteai/impl/controllers/NimbleNetControllerTest.kt
  sdks/android/nimblenet_ktx/src/test/kotlin/dev/deliteai/testUtils/Constants.kt
Owners: @NimbleEdge/deliteai-android-maintainers

add readme Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  agents/README.md
  agents/examples/android/README.md
  agents/examples/android/app/build.gradle.kts
  agents/examples/android/app/src/main/AndroidManifest.xml
  agents/examples/android/app/src/main/java/dev/deliteai/examples/App.kt
  agents/notifications_summarizer/README.md
  agents/notifications_summarizer/android/README.md
  agents/notifications_summarizer/android/src/main/AndroidManifest.xml
Owners: @nrjpoddar, @jpuneet

revert files Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  agents/examples/android/app/build.gradle.kts
  agents/notifications_summarizer/android/src/main/AndroidManifest.xml
Owners: @nrjpoddar, @jpuneet

revert files Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  agents/examples/android/app/src/main/AndroidManifest.xml
Owners: @nrjpoddar, @jpuneet

revert files Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  agents/examples/android/app/src/main/AndroidManifest.xml
Owners: @nrjpoddar, @jpuneet

revert files Signed-off-by: Naman Anand <naman.anand@nimbleedgehq.ai>
  agents/examples/android/app/src/main/AndroidManifest.xml
Owners: @nrjpoddar, @jpuneet

Add ios changes for running sdk in offline model
  config.yml
  coreruntime/CMakeLists.txt
  coreruntime/nimblenet/util/src/util.cpp
  sdks/ios/README.md
  sdks/ios/deliteAI/Classes/sources/NimbleNetApi.swift
  sdks/ios/deliteAI/Classes/sources/dataModel/NimbleNetConfig.swift
  sdks/ios/deliteAI/Classes/sources/impl/controller/NimbleNetController.h
  sdks/ios/deliteAI/Classes/sources/impl/controller/NimbleNetController.m
  sdks/ios/deliteAI/Classes/sources/impl/io/FileIO.swift
  sdks/ios/example/NimbleNetExample/ViewController.swift
  sdks/ios/example/Tests/ProtoTest.swift
  sdks/ios/example/Tests/RuntaskInstrumentation.swift
Owners: @nrjpoddar, @jpuneet, @NimbleEdge/deliteai-coreruntime-maintainers

Fix formatting for NImblenetconfig.swift
  sdks/ios/deliteAI/Classes/sources/dataModel/NimbleNetConfig.swift
Owners: @nrjpoddar, @jpuneet
